NEXT_PUBLIC_SUPABASE_URL=<paste from haydn>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<paste from haydn>
CLOUDINARY_CLOUD_NAME=<cloudinary cloud name>
CLOUDINARY_API_KEY=<cloudinary api key>
CLOUDINARY_API_SECRET=<cloudinary api secret>
DATABASE_URL=<ask-haydn>
